.logo {
    display: flex;
    padding-top: 20px;
}

.logo-l img {
    padding-left: 150px;
    width: 50%;
}

.logo-r {
    display: flex;
    justify-content: space-between;
}

.input-wrapper {
    background-color: white;
    display: flex;
    padding-right: 190px;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    padding: 15px 100px;
    border:1px solid grey;
    border-radius: 5px 0 0 5px;
    background-color: white;
    color: black;
}


.search-button {
    background-color: purple;
    border: 1px solid gray;
    border-radius: 0 5px 5px 0;
    padding: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.search-icon {
    color: white;
}

.wrapper-r {
    display: flex;
    gap: 35px;
}

.wrapper-r a {
    display: flex;
    gap: 5px;
    color: gray;
    text-decoration: none;
}


input:focus {
    outline: none;
}