.header-t {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    margin-right: 12rem;
    text-align: center;
    color: gray;
    font-weight: 100;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.phone-icon {
    vertical-align: text-bottom;
    margin-top: 3px;
}

.header-t a {
    text-decoration: none;
    color: gray;
}

